
<div class="mt-5 d-flex align-items-center mt-2 justify-content-center">

    <h1> Welcome to Tweet Scheduler </h1> 

</div>

<div class="mt-5 d-flex align-items-center mt-2 justify-content-center">
    <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>