
<div class="d-flex align-items-center mt-2 justify-content-center">

    <h1> Welcome to Tweet Scheduler </h1> 

</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
